<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.loyolalawtech.good-time"
        versionCode = "10" 
        version     = "1.4.0" >

    <!-- versionCode is optional and Android only -->

    <name>Good Time Calculator</name>

    <description>
        A simple calculator to determine the diminution in sentence ("good time") for good behavior under Louisiana law. 
    </description>

    <author href="http://loyolalawtech.org" email="judson@loyolalawtech.org">
        Judson Mitchell, Kevin Carter, John Love Norris IV 
    </author>

    <icon src="icon.png" />

    <preference name="permissions" value="none" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
</widget>
