<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Good Time Calculator</name>

    <description>
        A simple calculator to determine the diminution in sentence ("good time") for good behavior under Louisiana law. 
    </description>

    <author href="http://loyolalawtech.org" email="judson@loyolalawtech.org">
        Judson Mitchell, Kevin Carter, John Love Norris IV 
    </author>

    <icon src="icon.png" />

</widget>
